<!DOCTYPE html>
<html lang="es-MX" ng-app="catalogApp">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
    <meta name="twitter:description" content="View the album on Flickr." />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />

    <title>Exhibidores Roldan</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/front.css" rel="stylesheet">
    
    <link href="css/masterslider.css" rel="stylesheet">
    <!-- <link href="css/animate.css" rel="tylesheet"> -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav ng-include=" 'templates/navbar.html' " id="page-header" class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
    <!-- Page Content -->
    <div class="divider"></div>

    <div class="container">

        <div class="row">

            <div class="col-md-3 bold" ng-controller="catalogoController as catalogList">
                <h3 class="lead">Categorias</h3>
                <aside class="panel-group" id="accordion" role="tablist" ng-repeat="data in catalogList">
                    <div class="panel panel-default" ng-repeat="(categoria,value) in data">
                      <div class="panel-heading" role="tab" id="collapseListGroupHeading{{categoria}}">
                        <h5 class="panel-title upper">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup{{categoria}}" aria-expanded="false" aria-controls="collapseListGroup{{categoria}}">
                            <i class="fa fa-chevron-right"></i> {{categoria}}
                          </a>
                        </h5>
                      </div>
                      <div id="collapseListGroup{{categoria}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{categoria}}" aria-expanded="false" style="height: 0px;">
                        <ul class="list-group" ng-repeat="item in value">
                          <li class="list-group-item item">
                            {{item.nombre}}
                          </li>
                        </ul>
                      </div>
                    </div>
                </aside>
            </div>

            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12">
                        <ol class="breadcrumb">
                          <li><a href="/">Inicio</a></li>
                          <li class="active">Catalogo</li>
                        </ol>
                    </div>

                </div>

                <div class="row" ng-controller="catalogoController as catalogList">

                    <figure class="col-sm-3 col-lg-3 col-md-3" ng-repeat="item in catalogList.catalogo.alambre">
                        <div class="thumbnail">
                            <a href="#Modal{{item.id}}" data-toggle="modal"><img src="{{item.img}}" class="img-responsive img-center" alt="{{item.alt}}">
                            </a>
                            <figurecaption class="text-center">
                                <h5 class="name">{{item.nombre}}</h5>
                            </figurecaption>
                        </div>
                    </figure>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
    <!-- Footer Template -->
    <footer ng-include=" 'templates/footer.html' "></footer>

    <div ng-controller="catalogoController as catalogList">
        <!-- Modal Template -->
        <div class="modal fade" id="Modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="Label1" ng-repeat="item in catalogList.catalogo.alambre">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                <h4 class="modal-title text-center" id="lbl{{item.id}}">{{item.nombre}}</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <figure class="col-md-5"><img src="{{item.img}}" alt="{{item.alt}}" class="img-responsive img-center">
                    </figure>
                    <p class="col-md-offset-4">{{item.descripcion}}</p>
                    <span>Medidas: {{item.medidas}}</span>
                </div>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Modal Template -->
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/scrolling-nav.js" type="text/javascript"></script>
    
    <!-- Js Slider 
    <script src="js/app.js"></script>
    <script src="js/masterslider.min.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript"></script>-->

    <!-- Angular JS -->
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/catalogo.js" type="text/javascript"></script>

</body>

</html>